body{
    margin: 0;
    padding: 0;
    background-color: rgb(23, 23, 23);
}

.con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    color: aliceblue;
    font-size: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}